/* BUTTON */
.parent_buttonAll {
  width: fit-content;
}
.buttonAll {
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
}

/* INPUT COMPONENT  */
.input {
  width: 30%;
  min-width: 100px;
  height: 30px;
}
.userData {
  margin: 0;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type="number"] {
  -moz-appearance: textfield;
}

/* Filter */
.filter {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: white;
  border-radius: 6px;
  width: 90%;
  max-width: 40rem;
  justify-content: space-between;
  gap: 1rem;
  margin: 0 auto;
}

.controls {
  width: 100%;
  gap: 1rem;
}
.controls > * {
  width: 100%;
}

.control {
  flex: 1;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.control label {
  font-weight: bold;
}

.control select {
  font: inherit;
  background-color: white;
  border-radius: 6px;
  width: 100%;
  padding: 0.25rem;
}
.filter button {
  width: 30%;
  min-width: 100px;
}

/* INPUT FIELDSET REQUESTED  */
.fieldset {
  padding: 1rem;
}

.fiedlset_legend,
.option_label {
  margin-left: 1rem;
  padding: 0 1rem;
}

.fieldset_option {
  width: 25%;
}

.option_input {
  height: 25px;
  width: 50%;
}

/* INPUT SAVED USER INFO  */
.userData {
  min-width: 100px;
  height: 30px;
  padding-left: 2rem;
}

/* INPUT CONVERT */
.inputConvertContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.inputConvert {
  width: 5%;
  min-width: 60px;
}
.inputConvertContainer p {
  width: 30px;
  min-width: fit-content;
}

/* INPUT OPTIONS  */
.inputSelect_top {
  margin: 3rem 0 1rem;
}
.inputSelect {
  margin: 1rem 0;
}

.select {
  padding: 0.5rem;
  border-radius: var(--borderRadius-card);
  border: var(--border-card) var(--color-primary-dark);
  background-color: var(--color-primary-dark);
  color: var(--color-white);
  font-weight: 600;
}
.select:hover,
.select:active,
.options_li {
  cursor: pointer;
}

.options_ul {
  justify-content: flex-start;
  gap: var(--gap-pc);
  margin: 1rem 0;
}

.options_li {
  color: var(--color-black);
  border: var(--border-card) var(--color-primary-light);
  padding: 0.5rem;
  border-radius: var(--borderRadius-card);
  width: fit-content;
  gap: 1rem;
}
.options_li span {
  font-size: 1rem;
}
.options_li:hover {
  cursor: initial;
}
.options_li_X:hover {
  cursor: pointer;
  background-color: var(--color-primary-light);
}

/* Calendar */
.calendarContainer {
  display: flex;
  border-radius: 0 !important;
}

.calendar {
  padding: 1rem;
  border: none !important;
  background-color: transparent !important;
  height: 100%;
}
.calendarLogIn {
  margin: auto;
  border: 4px solid var(--color-primary-main);
  border-radius: 4px;
  padding: 1rem;
  font-weight: 600;
}
.timeContainer {
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

/* TIME PICKER */
.timepicker {
  gap: 1.5rem;
  justify-content: center;
}
.timepicker p {
  color: var(--color-black);
  padding-left: 4px;
}

.hour_select {
  padding: 0.5rem 1rem;
  font-size: var(--fSize125);
  border-radius: 4px;
}
.hour_select:focus {
  background-color: white;
}
.hour_option {
}

.consultConfirmation {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  flex-direction: column;
  gap: 10%;
}

@media only screen and (max-width: 1024px) {
  .calendarContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: fit-content;
  }
  .calendar {
    width: 100% !important;
  }
}
@media only screen and (max-width: 768px) {
}
