/* HEADER */

.header {
  position: relative;
  width: 100%;
  height: 5rem;
  z-index: 10;
}

.logo {
  font-size: 1.5rem;
  color: var(--color-white);
  font-family: "Fira", sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary-light);
}

.logo a {
  text-decoration: none;
  color: var(--color-primary-light);
}
.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 20;
  height: 100%;
  align-items: center;
  width: 100%;
  padding: 1rem 4rem;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  background: rgba(255, 255, 255, 0.25);
}
.bg_img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../public/bg_branch.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center left;
  opacity: 0.7;
  z-index: -1;
  border: none;
}
.navUl {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 100%;
}

.navLi a {
  font-weight: 600;
  font-size: 1.25rem;
  padding: 0.5rem 0.75rem;
  border: 3px solid var(--color-primary-main);
  border-radius: var(--borderRadius-button);
  display: flex;
  align-items: center;
  gap: 4px;
}

.navLi a:hover {
  cursor: pointer;
  color: white;
}

.navIcons {
  font-size: 24px;
  color: var(--color-primary-main);
  padding: 2px;
  border-radius: var(--borderRadius-card);
}

.navMenuIcon {
  color: var(--color-white);
}
.navMenu_button {
  display: none;
}

@media only screen and (max-width: 1140px) {
  .navigation {
    padding: 1rem 0;
    width: 90%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1024px) {
  .header {
    padding: 0;
    margin: 0 auto;
  }

  .navLi_text {
    display: none;
  }
}

@media screen and (max-width: 430px) {
  .logo {
    font-size: 2.5rem;
  }
  .navUl {
    display: none;
  }
  .navUlMobile {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    z-index: 110;
    color: white;
  }

  .navigation a {
    font-size: 1.25rem;
  }

  .navIcons {
    font-size: 2vw;
    padding: 0.5rem;
  }

  .navMenu_button {
    display: block;
    position: relative;
    z-index: 1;
    padding: 0.5rem 0.75rem;
    border: 3px solid var(--color-primary-main);
    border-radius: var(--borderRadius-button);
  }
}

/* Notification  */
.notification {
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  width: 100%;
  /* background-color: #1b1b1b; */
  color: var(--color-white);
  padding: 0.5rem 10%;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  align-items: center;
  display: none;
  opacity: 0;
  transition: var(--transition);
  z-index: 100;
}

.notification h2 {
  margin: 0;
  font-size: 1.25rem;
  color: white;
}

.success,
.pending,
.error {
  display: flex;
  opacity: 1;
  transition: var(--transition);
}

/* .notif_active {
  display: flex;
  opacity: 1;
  transition: var(--transition);
} */

.success {
  background-color: var(--color-success);
}
.pending {
  background-color: var(--color-pending);
}
.error {
  background-color: var(--color-error);
}

/* FOOTER */

.footer {
  padding: 2rem;
  background-color: black;
  color: var(--color-primary-light);
  gap: var(--gap-pc);
}
