/* HEADER */

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem 10%;
  height: 5rem;
  background-color: #202020;
}

.logo {
  font-size: 1.5rem;
  color: white;
  font-family: "Fira", sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #94fdfd;
}

.logo a {
  text-decoration: none;
  color: #94fdfd;
}
.navigation ul {
  display: flex;
  gap: 1rem;
}
.navigation li {
  list-style: none;
}

.navigation a {
  text-decoration: none;
  color: #74dacc;
  font-size: 1rem;
}

.navMenuIcon {
  color: white;
}

@media (min-width: 768px) {
  .logo {
    font-size: 2.5rem;
  }

  .navigation a {
    font-size: 1.5rem;
  }
}

/* Navigation 2 */

.nav_account {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem 10%;
  height: 5rem;
}

.nav_account ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 0;
  padding: 0;
}
.nav_account li {
  list-style: none;
  background-color: #74dacc;
}
.nav_account a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
}

.pagesLayout_main {
  margin: 1rem auto;
  width: 90%;
}

/* Notification  */
.notification {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 5rem;
  width: 100%;
  /* background-color: #1b1b1b; */
  color: white;
  padding: 0.5rem 10%;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  align-items: center;
  display: none;
  opacity: 0;
  transition: var(--transition);
}

.notification h2 {
  margin: 0;
  font-size: 1.25rem;
  color: white;
}

.success,
.pending,
.error {
  display: flex;
  opacity: 1;
  transition: var(--transition);
}

/* .notif_active {
  display: flex;
  opacity: 1;
  transition: var(--transition);
} */

.success {
  background-color: var(--color-success);
}
.pending {
  background-color: var(--color-pending);
}
.error {
  background-color: var(--color-error);
}
