.appointmentCardContainer {
  width: 60%;
}
.appointmentCard {
  border: var(--border-card) var(--color-primary-main);
  padding: 1rem;
  border-radius: var(--borderRadius-card);
  gap: 0.5rem;
}
.appointmentDate {
  gap: 0.5rem;
  font-weight: 700;
}
.calendarContainer {
  width: 40%;
}
.appointmentCalendar {
  width: 100%;
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 768px) {
  .appointmentCardContainer,
  .calendarContainer {
    width: 100%;
  }
  .appointmentContainer {
    flex-direction: column;
  }
}
