.section_featured,
.section_stories {
  position: relative;
  padding: 3rem 0 0;
}


/* HOME  */

.topHome {
  height: 100%;
  gap: 2rem;
  color: var(--color-primary-dark);
}
.topHome_glass {
  border-radius: var(--borderRadius-card);
  padding: 2rem 1rem;
  background: rgba(255, 255, 255, 0.1);
  /* box-shadow: 0 4px 30px var(--color-primary-waves); */
  backdrop-filter: blur(1px);
}

.topHome_body {
  width: 100%;
  gap: 2rem;
  height: 100%;
}
.body_intro {
  width: 75%;
}

/* ----------- Account Log in Register */

.form_account {
  /* background: var(--color-primary-light); */
  color: var(--color-primary-dark);
  min-width: 300px;
  max-width: 550px;
  margin: 0 0 0 auto;
  padding: 2rem 1rem;
  border-radius: var(--borderRadius-card);
  box-shadow: var(--boxShadow8) var(--color-primary-dark);
  align-items: center;
  position: relative;
}
.form_account:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../public/bg_dnatree.png);
  background-size: cover;
  background-position: center center;
  filter: blur(4px) saturate(0.5);
}
.form_account > * {
  position: relative;
}

.form_account_in {
  display: grid;
  grid-template-columns: minmax(30%, 150px) 1fr;
  justify-content: center;
  align-items: center;
}
.form_account_in input {
  height: 30px;
  min-width: 140px;
  width: 100%;
  font-weight: 600;
  padding-left: 0.5rem;
}

.account_buttons {
  gap: 1rem;
}

.account_buttons button {
  width: 100%;
  gap: 1rem;
  background-color: var(--color-primary-dark);
  color: var(--color-white);
}
.account_buttons button:hover {
  background-color: var(--color-tertiary-light);
}

.account_buttons_switch {
  text-decoration: underline;
}
.account_buttons_switch:hover {
  cursor: pointer;
  color: var(--color-tertiary-light);
}
.account_extraInfo {
  max-width: 200px;
}
.searchORlogin {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-pc);
}

/* ----------- FEATURED  */

.featured_in {
  height: 100%;
  margin: auto;
  position: relative;
  color: var(--color-white);
  padding: 2rem;
  gap: 1rem;
  position: relative;
  border-radius: var(--borderRadius-card);
  justify-content: space-between;
}
.featured_in::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 75%;
  height: 100%;
  background-color: var(--color-dark-nochange);
  background-size: cover;
  background-position: center bottom;
  opacity: 0.95;
  z-index: 1;
  border-top-right-radius: var(--borderRadius-card);
  border-bottom-right-radius: var(--borderRadius-card);
}
.featured_in > * {
  z-index: 1;
  position: relative;
  border-radius: var(--borderRadius-card);
}
.featured_in_imgdiv {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.featured_in_img {
  display: none;
}
.featured_in_imgActive {
  display: block;
  min-width: 100%;
  max-width: 150%;
  min-height: 100%;
  filter: blur(6px);
  opacity: 0.75;
}

.featured_in h2 {
  text-align: center;
  color: var(--color-primary-dark);
}

.featured_sliderContainer {
  position: relative;
  height: 50vh;
  min-height: 380px;
}
.featured_slide {
  display: none;
  opacity: 0;
}
.featured_slide h3 {
  width: 30%;
}
.slideActive {
  display: flex;
  opacity: 1;
  animation: showAnim 1s 1;
  position: relative;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border-radius: var(--borderRadius-card);
  color: var(--color-black);
  gap: var(--gap-pc);
  min-height: 400px;
}
@keyframes showAnim {
  from {
    display: none;
    opacity: 0;
  }
  10% {
    display: flex;
  }
  to {
    opacity: 1;
  }
}

.featured_slide > * {
  width: 100%;
}
.slide_title {
  text-align: center;
}

.slide_body {
  gap: var(--gap-pc);
  display: flex;
  align-items: center;
}
.body_imgdiv {
  height: 230px;
  width: 40%;
  overflow: hidden;
}
.body_img {
  height: 100%;
}
.body_p {
  width: 60%;
  height: 100%;
  background-color: var(--color-white);
  color: var(--color-primary-dark);
  padding: 2rem;
  border-radius: var(--borderRadius-card);
}
.body_button {
  margin: 2rem 0 0;
}
.slide_by {
  gap: var(--gap-pc);
  justify-content: flex-end;
}
.by_img {
  border-radius: var(--borderRadius-rounded);
  width: 80px;
  height: 80px;
}

.slider_iconContainer {
  gap: 2rem;
}
.slider_icon {
  font-size: 2rem;
  color: var(--color-secondary-main);
}
.slider_icon:hover {
  cursor: pointer;
}

.iconActive {
  color: var(--color-primary-main);
}

/* ---------- STORIES  */
.section_stories {
  position: relative;
}
.stories_h2 {
  text-align: center;
  color: var(--color-primary-dark);
  background-color: var(--color-white);
  padding: 1rem 0;
  border-radius: 0;
  border-left: none;
  border-right: none;
}
.stories_bg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.stories_cardsContainer {
  padding: 1rem 1rem 2rem;
  width: 100%;
}

.storyCard {
  width: 30%;
  height: 400px;
  box-shadow: var(--boxShadow) var(--color-white);
  border-radius: var(--borderRadius-card);
  background-color: var(--color-primary-dark);
  height: 100%;
  clip-path: inset(2px round var(--borderRadius-card));
  padding: 2rem 1rem;
  color: var(--color-white);
  width: 250px;
}

.storyCard::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2000px;
  height: 100%;
  background-image: url(../../public/bg_grasswave_transp.png);
  background-size: cover;
  background-position: center 60vh;
  z-index: -1;
  filter: blur(6px) brightness(0.8);
}

.storyCard img {
  border-radius: var(--borderRadius-card);
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 5;
}

.stories_buttons {
  width: 100%;
  /* margin: 0 auto; */
  justify-content: center;
  gap: 15%;
  background-color: var(--color-primary-dark);
}
.stories_buttons > * {
  color: var(--color-primary-main);
  font-size: 2.5rem;
  font-weight: 800;
  border-radius: var(--borderRadius-button);
  padding: 0.25rem 0.5rem;
}

.stories_buttons > *:hover {
  cursor: pointer;
}
.button_icon_left {
  rotate: 180deg;
}
.button_inactive {
  color: #ccc;
}
.button_inactive:hover {
  cursor: initial;
}
@media screen and (min-width: 1024px) {
  .featured::before {
    top: 0;
    background-position: center;
  }
}

@media screen and (max-width: 768px) {
  .main {
    height: 100%;
    padding-bottom: var(--top-bottom-spacing);
  }
  .top {
    gap: var(--gap-pc);
    height: 100%;
  }
  .top_body {
    gap: var(--gap-pc);
  }
  .body_intro {
    width: 95%;
  }
  .body_img {
    width: 75%;
    height: auto;
  }
  .form_account {
    margin: 0 auto;
  }

  .featured::before {
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  .featured_in {
    padding: 2rem 1rem;
  }

  .featured_in::before {
    width: 100%;
    height: 70%;
    background-size: cover;
    background-position: center bottom;
    opacity: 0.95;
  }
  .featured_sliderContainer {
    height: 75vh;
    min-height: 730px;
  }
  .featured_slide {
    min-height: 650px;
  }
  .featured_slide h3 {
    width: 100%;
  }
  .body_imgdiv {
    max-height: 300px;
    width: 90%;
    text-align: center;
    overflow: hidden;
  }
  .body_img {
    width: 100%;
  }
  .body_p {
    width: 90%;
  }

  .stories_buttons {
    width: 100%;
  }
}
@media screen and (max-width: 376px) {
  .featured_sliderContainer {
    height: 100vh;
    min-height: 530px;
  }
}
