/* lineage page  */
.lineageTop {
  padding-bottom: 0;
}
.lineageGrid {
  display: grid;
  grid-template-columns: 30% 1fr;
}
.lineageGrid h2 {
  text-align: center;
}
.lineageGrid h3,
.lineageGrid h4
 {
  text-align: center;
  font-size: var(--step-1);
  color: var(--color-primary-dark);
}
.lineageGrid h5 {
  font-size: var(--step-0);
  color: var(--color-black);
}
.lineageTree {
  width: 100%;
}
/* components  */
/* form */
.form {
  border-right: var(--border-card) var(--color-primary-main);
  padding-right: var(--padding3);
  position: sticky;
  top: 0;
}
.form > * {
  width: 100%;
  margin-bottom: 1rem;
}
.form input,
.form select {
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: var(--borderRadius-card);
  border: 2px solid var(--color-primary-main);
}

/* tree */

.tree {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 2vw;
  place-items: center;
  width: 100%;
  position: relative;
}
.tree::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../../public/tree-love.png);
  background-size: cover;
  background-position: bottom center;
  filter: blur(4px) saturate(0.5) opacity(.5);
}
.tree > * {
  width: 100%;
  z-index: 2;
}
.tree_love {
  padding: 3rem 0;
  grid-template-rows: repeat(
    5,
    minmax(0, 1fr)
  ); /* set the minimum number of rows to 6 */
  grid-auto-rows: 1fr; /* set the height of additional auto rows to 1fr (or adjust as needed) */
}

.grandmothermother {
  grid-area: 1 / 1 / 2 / 2;
}
.grandfathermother {
  grid-area: 1 / 2 / 2 / 3;
}
.grandmotherfather {
  grid-area: 1 / 3 / 2 / 4;
}
.grandfatherfather {
  grid-area: 1 / 4 / 2 / 5;
}
.mother {
  grid-area: 2 / 1 / 3 / 3;
}
.father {
  grid-area: 2 / 3 / 3 / 5;
}
.me {
  grid-area: 3 / 2 / 4 / 4;
}
.child {
  grid-area: 4 / 1 / 5 / 5;
}
.grandchild {
  grid-area: 5 / 1 / 6 / 5;
}

.splideCSS {
  width: 100%;
}
.splideSlideCSS {
  display: flex;
  justify-content: center;
}
.splideChild > * {
  text-align: center;
}

.familyMember {
  text-align: center;
}

.photo {
  height: min(120px, 16vw);
  width: min(120px, 16vw);
  border-radius: var(--borderRadius-rounded);
  background-color: pink;
}

/* -------- Splide */
.splide {
}

.splideIn {
  background: linear-gradient(
    90deg,
    var(--color-primary-waves),
    var(--color-secondary-waves) 100%
  );
  padding: 1rem 0;
}
.splideIn img {
}

@media screen and (max-width: 1024px) {
  .lineageGrid {
    display: block;
  }
  .tree {
    padding-left: 0;
    width: 100%;
  }
  .form {
    border-right: none;
    padding-right: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .form label,
  .form input,
  .form select {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .tree {
    display: flex;
    flex-wrap: wrap;
  }
  .tree > * {
    position: relative;
    width: 46%;
    word-break: break-all;
  }
  .me,
  .child,
  .grandchild {
    width: 100%;
  }
  .tree_love {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .tree_love > * {
    margin: 0 auto;
    width: 120px;
    height: 120px;
  }
}
