/* lineage page  */
.lineageGrid {
  display: grid;
  grid-template-columns: 30% 1fr;
}

/* components  */
/* form */
.form > * {
  width: 100%;
}
.label {
}

/* tree */

.tree {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 2rem;
  place-items: center;
}
.tree > div {
  width: 100%;
}

.grandmothermother {
  grid-area: 1 / 1 / 2 / 2;
}
.grandfathermother {
  grid-area: 1 / 2 / 2 / 3;
}
.grandmotherfather {
  grid-area: 1 / 3 / 2 / 4;
}
.grandfatherfather {
  grid-area: 1 / 4 / 2 / 5;
}
.mother {
  grid-area: 2 / 1 / 3 / 3;
}
.father {
  grid-area: 2 / 3 / 3 / 5;
}
.me {
  grid-area: 3 / 2 / 4 / 4;
}
.child {
  grid-area: 4 / 1 / 5 / 5;
}
.grandchild {
  grid-area: 5 / 1 / 6 / 5;
}

.splideCSS {
  grid-area: 6 / 1 / 7 / 5;
  width: 100%;
}
.splideSlideCSS {
  display: flex;
  justify-content: center;
}

.familyMember {
  text-align: center;
}

.photo {
  height: 120px;
  width: 120px;
  border-radius: var(--borderRadius-rounded);
  background-color: pink;
}

/* -------- Splide */
.splide {
}

.splideIn {
}
.splideIn img {
}
